[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "chowdsp_wdf"]
	path = chowdsp_wdf
	url = https://github.com/Chowdhury-DSP/chowdsp_wdf.git
[submodule "xsimd"]
	path = xsimd
	url = https://github.com/xtensor-stack/xsimd.git
